@import "variables.scss";

th {
  color: $white;
}

.pager {
  display: flex;
  justify-content: flex-end;
}

nav li button {
  background-color: $blue;
  color: $white;
}

nav li button:focus {
  outline: none;
  box-shadow: none;
}

.img-thumbnail {
  max-height: 400px;
  max-width: 400px;
  margin-left: 10px;
}
