@import "variables";

nav li button {
  background-color: $blue;
  color: $white;
}

nav li button:focus {
  outline: none;
  box-shadow: none;
}

.pager {
  display: flex;
  justify-content: flex-end;
}
