@import 'variables.scss';

th {
  color: $white;
}

.title {
  color: $white;
}

.rating {
  min-width: 120px;
}

i {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0 2px;
  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: gold;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

tbody {
  color: #fff;
}

.review {
  font-style: oblique;
  font-size: 14px;
  font-weight: lighter !important;
}

#create-button {
  background-color: $green;
  max-width: 150px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: -2px;
  color: $white;
}

.form-select-sm {
  height: 35px;
}

.btn-container {
  display: flex;
}

.progress {
  --s: 42.2px;
  height: calc(var(--s)*0.9);
  width: calc(var(--s)*5);
  --v1: transparent,#000 0.5deg 108deg,#0000 109deg;
  --v2: transparent,#000 0.5deg  36deg,#0000  37deg;
  -webkit-mask: conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
  conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
  conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
  conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor,destination-over;
  mask-composite: exclude,add;
  -webkit-mask-repeat: repeat-x;
  background: linear-gradient(#474bff 0 0) left/0% 100% #dbdcef no-repeat;
  animation: p10 1.6s infinite linear;
}

@keyframes p10 {
  90%, 100% {
    background-size: 100% 100%;
  }
}
