<div class="container table-box">
  <div class="mt-3 pt-3">
    <div class="row pt-3">
      <div class="col-sm-4">
        <img  src="assets/school.jpg" alt="school image" class="img-thumbnail">
      </div>
      <div *ngIf="school" class="col-sm-8">
        <div class="d-flex mt-2">
          <h5 class="title">Név:</h5>
          <h5 class="px-2">{{school.name}}</h5>
        </div>
        <div class="d-flex mt-2">
          <h5 class="title">Weboldal:</h5>
          <h5 class="px-2">{{school.websiteUrl}}</h5>
        </div>
        <div class="d-flex mt-2">
          <h5 class="title">Kitalálni az egyebet:</h5>
          <h5 class="px-2">{{school.name}}</h5>
        </div>
      </div>
    </div>
    <div class="table-responsive pt-3">
      <table class="table">
        <thead>
          <tr>
            <th class="text-start">
              Értékelések
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let review of reviews">
          <td class="review align-items-lg-end">
            {{review.content}}
          </td>
          <td class="rating">
            <ngb-rating [rate]="review.stars" [starTemplate]="t" [max]="5" [readonly]="true"></ngb-rating>
            <div class="sticky-bottom">{{review.creationDate?.toDate() | date: 'YYYY-MMM-dd'}}</div>
          </td>
        </tr>
        </tbody>
      </table>
      <nav class="pager" *ngIf="getPageable().totalElements">
        <ul class="pagination">
          <li class="page-item" *ngIf="getPageable().page > 0">
            <button class="page-link" aria-label="Previous" (click)="toPage(0)">
              &laquo;
            </button>
          </li>
          <li *ngIf="getPageable().page > 0" class="page-item">
            <button class="page-link" (click)="toPage(getPageable().page - 1)">{{getPageable().page}}</button>
          </li>
          <li *ngIf="hasNextPage()" class="page-item active">
            <button class="page-link">{{getPageable().page + 1}}</button>
          </li>
          <li *ngIf="getPageable().page === getPageable().totalPages - 1" class="page-item active">
            <button class="page-link">{{getPageable().page + 1}}</button>
          </li>
          <li *ngIf="hasNextPage()" class="page-item">
            <button class="page-link" (click)="toPage(getPageable().page + 1)">{{getPageable().page + 2}}</button>
          </li>
          <li *ngIf="getPageable().page === 0  && hasNextNextPage()" class="page-item">
            <button class="page-link" (click)="toPage(getPageable().page + 2)" >{{getPageable().page + 3}}</button>
          </li>
          <li class="page-item" *ngIf="getPageable().page !== getPageable().totalPages - 1">
            <button class="page-link" (click)="toPage(getPageable().totalPages - 1)" aria-label="Next">
              &raquo;
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<ng-template #t let-fill="fill">
  <i class="bi-star-fill">
    <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
  </i>
</ng-template>


