@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(107.54deg, #1D2951 0%, rgba(29, 41, 81, 0.8) 100%);
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

