@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "variables";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(107.54deg, #1D2951 0%, rgba(29, 41, 81, 0.8) 100%) no-repeat fixed;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.table-box {
  background: rgb(29,41,81);
  background: linear-gradient(320deg, rgba(29,41,81,1) 15%, rgba(217,217,217,0.4) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
}

.modal {
  color: $white;
}

.dropdown-menu {
  max-height: 500px;
  overflow: auto;
}

.modal-header button {
  color: $white;
}

.modal-header, .modal-footer, .modal-body {
  background-color: $blue;
}

.no-result {
  color: $white;
  height: 500px;
  vertical-align: middle;
}

#create-button {
  background-color: $green;
  margin-right: 12px;
}

.search-btn {
  color: #FFE3D8;
  background-color: #1D2951;
  margin-left: 15px !important;
  border-radius: 10px !important;
}

.input-search {
  border-radius: 10px !important;
}
